<div class="container-msg">
    <div class="row">
      <div class="col-4">
    
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><mat-icon>search</mat-icon></button>
          </div>
          <div class="chat-container row">
            <div class="col-2 p-1">
                <img [width]="50" [height]="50" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
            </div>
            <div class="col-10">
                <h5 class="p-0">Twice Mina</h5>
                <p>Some messages here..</p>
            </div>
          </div>
          <div class="chat-container row">
            <div class="col-2 p-1">
                <img [width]="50" [height]="50" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
            </div>
            <div class="col-10">
                <h5 class="p-0">Twice-Nayeon</h5>
                <p>Some messages here..</p>
            </div>
          </div>
          <div class="chat-container row">
            <div class="col-2 p-1">
                <img [width]="50" [height]="50" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
            </div>
            <div class="col-10">
                <h5 class="p-0">Twice-Jeongyeon</h5>
                <p>Some messages here..</p>
            </div>
          </div>
          

      </div>
      <div class="col-6">
        <div class="">
            <div class="card-body">
                <mat-toolbar class="chat-toolbar">
                    <div class="row">
                        <div class="col">
                        </div>
              
                      </div>
                    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                      <mat-icon class="toolbar-icon">menu</mat-icon>
                     
                    </button> -->
                    <!-- <mat-icon matBadge="" matBadgeColor="warn">home</mat-icon> -->
                    <img  matBadge="1" matBadgeColor="warn" class="chat-profile"  src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                    <span class="recipientName">Twice-Nayeon <mat-icon class="active-icon">adjust</mat-icon></span>
                    <span class="example-spacer"></span>
                    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon  class="toolbar-icon">videocam</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                      <mat-icon  class="toolbar-icon">call</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon  class="toolbar-icon">info</mat-icon>
                      </button>
                  </mat-toolbar>
                  <div style="overflow-y: scroll; height:400px;" class="chat-div">
                    <br>
                    <div class="container">
                        
                      
                      <div class="row recipient-chat-left">   
                        <div class="col-2"> 
                        </div>                
                            <div class="msg-body-right col-10">
                              Helohjgbhfgbhfhbhfbh
                            </div>
                      </div>
                      <br><br><br>

                      <div class="row your-chat-right">
                        <div class="col-2">
                            <img class="msg-profile"  src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                        </div>
                        <div class="msg-body col-10">
                          Helohjgbhfgbhfhbhfbh
                        </div>
                      </div>
                      <!-- end of chatright -->
                      <br><br>
                      <div class="row recipient-chat-left">   
                        <div class="col-2"> 
                        </div>                
                            <div class="msg-body-right col-10">
                              Helohjgbhfgbhfhbhfbh
                            </div>
                      </div>
                      <br><br>
                      
                      <div class="row your-chat-right">
                        <div class="col-2">
                            <img class="msg-profile"  src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                        </div>
                        <div class="msg-body col-10">
                          Helohjgbhfgbhfhbhfbh
                        </div>
                      </div>
                      <!--  -->
                      <br><br>
                      <div class="row recipient-chat-left">   
                        <div class="col-2"> 
                        </div>                
                            <div class="msg-body-right col-10">
                              Helohjgbhfgbhfhbhfbh
                            </div>
                      </div>
                      <br><br><br>
                      
                      <div class="row your-chat-right">
                        <div class="col-2">
                            <img class="msg-profile"  src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                        </div>
                        <div class="msg-body col-10">
                          Helohjgbhfgbhfhbhfbh
                        </div>
                      </div>
                      <!--  -->
                      <br><br>
                      <div class="row recipient-chat-left">   
                        <div class="col-2"> 
                        </div>                
                            <div class="msg-body-right col-10">
                              Helohjgbhfgbhfhbhfbh
                            </div>
                      </div>
                      <br><br><br>
                      
                      <div class="row your-chat-right">
                        <div class="col-2">
                            <img class="msg-profile"  src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                        </div>
                        <div class="msg-body col-10">
                          Helohjgbhfgbhfhbhfbh
                        </div>
                      </div>
                      <!--  -->
                    </div>
                  </div>
            </div>
          </div>
      </div>
      <div class="col-2">
        Column
      </div>
    </div>
  </div>