<!-- As a heading -->
<header>
    <div class="header-logo-container">
        <a type="button" class="header-logo">Rant</a>
    </div>
    <div class="d-flex flex-column ps-1 side-bar">
        <div class="p-2 mb-2">
            <a type="button" class="button-links active" routerLink="/">Home</a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/messages">Message</a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/friends">Friends</a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/groups">Group</a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/profile">Profile</a>
        </div>
        <div class="p-2 mt-auto">
            <a type="button" class="button-links" (click)="Logout()">Renz</a>
        </div>
    </div>
</header>