<!-- As a heading -->
<header>
    <div class="header-logo-container">
        <a type="button" class="header-logo"><img [src] ="ImagePath" 
            style="width: 180px;height: 50px; "class="title"></a>
    </div>
    <div class="d-flex flex-column ps-1 side-bar">
        <div class="p-2 mb-2">
            <a type="button" class="button-links active" routerLink="/">
                <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                Home
            </a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/messages">
                <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="message"></mat-icon>Message</a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/friends">
                <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="group"></mat-icon>
                Friends</a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/groups">
                <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="groups
                "></mat-icon>
                Group</a>
        </div>
        <div class="p-2 mb-2">
            <a type="button" class="button-links" routerLink="/profile">
                <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
                Profile</a>
        </div>
        <div class="p-2 mt-auto">
            <a type="button" class="button-links lo" (click)="Logout()"><mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="power_settings_new"></mat-icon>Logout</a>
        </div>
    </div>
</header>