header {
    background-color: whitesmoke;
}

.header-logo-container {
    padding: 0.5rem;
    /* text-align: center; */
}

.icon {
    color: rgb(109, 23, 214);
    padding-top: 4px;
    padding-right: 2px;
    width: 30px;
   

}

.header-logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
}

.button-links {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-family: 'Hero';
}

.active {
    font-weight: 900;
}

.side-bar {
    height: 90vh;
}