.col-4 {
    border:2 px whitesmoke;
        
    }
.card{
    background-color: whitesmoke;
}
.join-btn {
    height: 30px;
    padding: 0;

}
.add-icon {
    height: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.list-group{
    text-align: left;
  
    background-color: whitesmoke;
}
.card-list {
    background-color: whitesmoke;
}
.list-group-item{
    background-color: whitesmoke;
}
.list-group-item:hover {
    background-color: rgb(214, 214, 214);
}
.form-control {
    width: 100%;
   
}
.txtbox {
    background-color: whitesmoke;
}
/* .mygroups {
    margin-right: 50%;
} */
/* .icon-dots {
    color:;
} */
.btn-menu{
   
    padding: 0%;
    font-size: 20px;
    /* color: rgb(19, 139, 139); */
}
.matMenu, .matMenu-item, .logout-item {
    background-color: white;
}
.menu-icon, .menu-text {
    color: black;
}
.logout-item:hover {
    background-color: rgb(255, 182, 182);
}
.matMenu-item:hover{
    background-color: rgb(199, 153, 242);
}