<div class="container text-center">
    <div class="row">
      <!-- <div class="col-3 p-2">
       
      </div> -->
      <div class="col-7 p-2">
        <div class="card">
            <div class="card-header">
              Create your own Groups
            </div>
            <div class="card-body">
                
              <div class="card-text">
                
                <!-- <p class="hb-1">{{groups.group_name}}</p>
                 -->
                 <form  [formGroup] = 'groupForm' (ngSubmit) = 'createGroup()'>
                  <div class="input-group flex-nowrap p-2">
                    <img class="p-2" [width]="50" [height]="50" src="https://cdn-icons-png.flaticon.com/512/219/219983.png" alt="">
                    <span class="input-group-text" id="addon-wrapping"><mat-icon>edit</mat-icon></span>
                    <input formControlName="group_name" type="text" class="form-control p-1" placeholder="Enter Group Name" aria-label="Entergroupname" aria-describedby="addon-wrapping">
                  </div>
                  <button type="submit" mat-flat-button color="accent"><mat-icon>group_add</mat-icon>Create group</button>
                 </form>
               
            </div>
          
              
            </div>
          </div>
          <br>
          <!-- Group  -->
          <div class="card">
            <!-- <div class="card-header">
              Create your own Groups
            </div> -->
            <div class="card-body">
              
              <h4>Select Tags</h4>
              <mat-chip-listbox aria-label="Dog selection">
                <mat-chip>
                  <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                  Programming
                </mat-chip>
                <mat-chip color="primary">
                  <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                  CryptoCurrency
                </mat-chip>
                <mat-chip color="accent">
                  <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                  Kpop
                </mat-chip>
              </mat-chip-listbox>
              <div class="card-text">
                
                
                
            </div>
           
              
            </div>
          </div>
      </div>
      <div class="col-5 p-2">
        <div class="card" style="width: 100%;">
            <div class="card-body">
              <h3 class="card-title">My Groups</h3>
              <div class="card-lst" style="width: 100%;">
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item">
                    <img class="group_image" [width]="30" [height]="30" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Logo_of_TWICE.svg/640px-Logo_of_TWICE.svg.png" alt="">
                     <a href="" class="p-1">TWICE</a>
                    <button  mat-flat-button class="join-btn"  extended color="accent">
                    <mat-icon>add</mat-icon>
                    Join 
                  </button>
                </li>
                  <li class="list-group-item">
                    <img class="group_image" [width]="30" [height]="30" src="https://icon-library.com/images/expert-icon/expert-icon-23.jpg" alt="">
                    It Experts <button  mat-flat-button class="join-btn"  extended color="accent">
                    <mat-icon>add</mat-icon>
                    Join 
                  </button>
                  </li>
                  <li class="list-group-item">
                    <img class="group_image" [width]="30" [height]="30" src="https://media.istockphoto.com/id/892878196/vector/bitcoin-crypto-currency-blockchain-flat-logo-a-colored-triangular-background.jpg?s=170667a&w=0&k=20&c=BRd2baa66jX-Ze9MF5aX6qIrdoAgTni0aRdmR9gAUH8=" alt="">
                    Crypto World <button  mat-flat-button class="join-btn"  extended color="accent">
                    <mat-icon>add</mat-icon>
                    Join 
                  </button>
                </li>
                </ul>
              </div>
            
            </div>
          </div>

          <br>
           <div class="card" style="width: 100%;">
            <div class="card-body">
              <h3 class="card-title">Group Suggestions</h3>
              <div class="card-lst">
                <ul class="list-group list-group-flush" *ngFor="let group of groups">
                  <li class="list-group-item">
                     <a href="" class="p-1">{{group.group_name}}</a>
                    <button  mat-flat-button class="join-btn"  extended color="accent">
                    <mat-icon>add</mat-icon>
                   Join 
                  </button>
                </li>
                  
                </ul>
              </div>
            
            </div>
          </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col-5">
        2 of 3 (wider)
      </div>
      <div class="col">
        3 of 3
      </div>
    </div> -->
  </div>