<div class="row">
    <div class="col-md-7 feed">
        <div class="p-2 d-flex justify-content-between feed-header">
            <div class="p-0">
                <p>Friends</p>
            </div>
            <div class="p-0">
                <a type="button"><i class="fa fa-rotate-right"></i></a>
            </div>
        </div>
        <div class="feed-body">
            <div class="p-1 ps-2">
                <div class="fr-container">
                    <p class="fr-head">Your Friends</p>
                </div>
            </div>
            <div class="friend-section" *ngFor="let friend of friends" >
                <div class="d-flex flex-row list-container" *ngIf="friend.status == 1">
                    <div class="name-holder">
                        <p>{{friend.first_name}} {{friend.last_name}}</p>
                    </div>
                </div>
            </div>
            <div class="friend-section" *ngFor="let friend of friends2" >
                <div class="d-flex flex-row list-container" *ngIf="friend.status == 1">
                    <div class="name-holder">
                        <p>{{friend.first_name}} {{friend.last_name}}</p>
                    </div>
                </div>
            </div>
            <div class="p-1 ps-2 mt-4">
                <div class="fr-container">
                    <p class="fr-head">Friend Request</p>
                </div>
            </div>
            <div class="friend-section" *ngFor="let friend of friendRequest">
                <div class="d-flex flex-row list-container">
                    <div class="name-holder">
                        <p>{{friend.first_name}} {{friend.last_name}}</p>
                    </div>
                    <div class="p-1 ms-auto">
                        <button class="btn btn-light" (click)="AcceptFriendRequest(friend.frnd_id)">Accept</button>
                    </div>
                </div>
            </div>
            <div class="p-1 ps-2 mt-4">
                <div class="fr-container">
                    <p class="fr-head">Sent Request</p>
                </div>
            </div>
            <div class="friend-section" *ngFor="let friend of sentRequests">
                <div class="d-flex flex-row list-container">
                    <div class="name-holder">
                        <p>{{friend.first_name}} {{friend.last_name}}</p>
                    </div>
                    <div class="p-1 ms-auto">
                        <button class="btn btn-light" (click)="CancelFriendRequest(friend.frnd_id)">Cancel Request</button>
                    </div>
                </div>
            </div>
            <!-- <div class="p-1 ps-2 mt-4">
                <div class="fr-container">
                    <p class="fr-head">You may know</p>
                </div>
            </div> -->
            <!-- <div class="friend-section" *ngFor="let user of users">
                <div class="d-flex flex-row list-container" *ngIf="user.id != UserId">
                    <div class="name-holder">
                        <p>{{user.first_name}} {{user.last_name}}</p>
                    </div>
                    <div class="p-1 ms-auto">
                        <button class="btn btn-light" (click)="AddFriend(user.id)">Add friend</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="col-md-5 sub-section">
        <div class="mt-3 fade-container-list">
            <div class="fd-header">
                <h4>You may know</h4>
            </div>
            <div class="friend-section" *ngFor="let user of users">
                <div class="d-flex flex-row list-container" *ngIf="user.id != UserId">
                    <div class="name-holder">
                        <p>{{user.first_name}} {{user.last_name}}</p>
                    </div>
                    <div class="p-1 ms-auto">
                        <button class="btn btn-light" (click)="AddFriend(user.id)">Add friend</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 fade-container-list">
            <div class="fd-header">
                <h4>Groups</h4>
            </div>
            <div class="fd-body">
                <div class="p-1">
                    <p>It Experts</p>
                </div>
                <div class="p-1">
                    <p>Crypto World</p>
                </div>
            </div>
        </div>
    </div>
</div>