.edit-post-modal{
    padding: 1.5rem;
}

::ng-deep .EditPostModal>.modal-dialog {
    max-width: 650px !important;
    height: auto;
    margin-top: 80px;
}

.input-area {
    border: none;
    width: 100%;
    padding: 0.3rem;
    /* max-height: 30vh; */
    overflow: hidden;
    height: fit-content;
}

.input-area:hover {
    background-color: whitesmoke;
}

.input-area:focus {
    outline: 0px solid transparent;

}

#emoji {
    /* display: inline-block; */
    color: rgb(109, 23, 214);
    /* padding-top: 20px; */
    /* padding: 5px;
    width: 3rem;
    cursor: pointer;
    padding-top: 5px; */


}

.emoji-btn {
    border: none;
    background-color: transparent;
}

.icon {
    color: rgb(109, 23, 214);
}

.create-post-bottom {
    /* padding: 1rem; */
    width: 100%;
    text-align: right;
}

.post-btn {
    padding: 0.3rem 0.9rem;
    background-color: rgb(109, 23, 214);
    border: none;
    /* border-radius: 10%; */
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Hero';
}

.fileup {
    display: inline-block;
    /* background-color: indigo; */
    color: rgb(109, 23, 214);
    padding: 5px;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}