/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'material-icons/iconfont/material-icons.css';
@import '~@ctrl/ngx-emoji-mart/picker';
@font-face {
    font-family: "Hero";
    src: local("Hero"), url(./assets/fonts//Hero-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Aero";
    src: local("Aero"), url(./assets/fonts//Aero.ttf) format("truetype");
}
@font-face {
    font-family: "Airstrike";
    src: local("Airstrike"), url(./assets/fonts//airstrike.ttf) format("truetype");
}
body{
    font-family: 'Poppins', sans-serif;
}
/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
